<footer class="foooter">
<div class="div-footer">
    <div class="espace-texte">
        <ul class="liste">
            <li class="element-list">Accueille</li>
            <li class="element-list"> Contact</li>
            <li class="element-list">A propos</li>
            <li class="element-list">Produits</li>
            
        </ul>
    </div>
   <div> 
    <img className="imagee" src="../assets/image/github.png" alt="">
    <img className="imagee" src="../assets/image/instagram.jpg" alt="">
   </div>
       
    </div>
</footer>
