<div [className]="'divi'" >
    <h1 [className]="'h'"><mark [className]="'marke'">“Au petit village”</mark>  est une entreprise qui confectionne
         des figurines inspirées de la bande
        dessinée Astérix et Obélix.
        Elle cible une population jeune entre 30 et 55 ans, nostalgique des aventures des célèbres
        Gaulois.</h1>
   <div [className]="'espace-produit'">
    <h1 [className]="'h1'">PRODUITS</h1>
    <div [className]="'espace1'">
        <div [className]="'produit'">
            <img [className]="'g'" src="../assets/image/asterix1.jpg" alt="figurines">
            <p [className]="'pi1'">asterix avec un chien</p>
            <p [className]="'pi2'">100€</p>
        </div>

        <div  [className]="'produit'">
            <img [className]="'g'" src="../assets/image/asterix2.jpg" alt="figurines">
            <p [className]="'pi1'">asterix migon</p>
            <p [className]="'pi2'">80€</p>
        </div>

        <div  [className]="'produit'">
            <img [className]="'g'" src="../assets/image/asterix3.jpg" alt="figurines">
            <p [className]="'pi1'">asterix en guerre</p>
            <p [className]="'pi2'">120€</p>
        </div>
    </div>

    <div [className]="'espace2'">
    <div  [className]="'produit'">
        <img [className]="'g'" src="../assets/image/obelix1.png" alt="figurines">
        <p [className]="'pi1'">asterix voyage</p>
        <p [className]="'pi2'">200€</p>
    </div>

    <div  [className]="'produit'">
        <img [className]="'g'" src="../assets/image/obelix3.jpg" alt="figurines">
        <p [className]="'pi1'">asterix boude</p>
        <p [className]="'pi2'">150€</p>
    </div>

    <div  [className]="'produit'">
        <img [className]="'g'" src="../assets/image/obelix5.JPG" alt="figurines">
        <p [className]="'pi1'">asterix traville</p>
        <p [className]="'pi2'">100€</p>
    </div>

    </div>
   </div>

   <h1 [className]="'h1'">CATEGORIE</h1>

   <div [className]="'espace-categorie'">
    <div [className]="'categorie1'">
     <img [className]="'G1'" src="../assets/image/obelix2.jpg" alt="figurines">
     <h2 [className]="'h2'">Obelix Et Asterix</h2>
    </div>

    <div [className]="'categorie2'">
      <img [className]="'G'" src="../assets/image/asterix4.jpg" alt="figurines">
       <h2 [className]="'h2'">Tous Les Personnages</h2>
    </div>

   </div>
</div>
